<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    Single event partial.
    Arguments:
      {event}   – Maispace\MaiCalendar\Domain\Model\Event instance
      {compact} – 1 for compact (no description/location), 0 for full display
</f:comment>

<article class="mai-calendar__event {f:if(condition: compact, then: 'mai-calendar__event--compact')}">

    <header class="mai-calendar__event-header">
        <f:if condition="{event.url}">
            <f:then>
                <a class="mai-calendar__event-title" href="{event.url}">
                    {event.title}
                </a>
            </f:then>
            <f:else>
                <span class="mai-calendar__event-title">{event.title}</span>
            </f:else>
        </f:if>

        <time
            class="mai-calendar__event-time"
            datetime="{f:format.date(format: 'c', date: event.start)}"
        >
            <f:if condition="{event.allDay}">
                <f:then>
                    <f:translate key="calendar.allDay" extensionName="mai_calendar" />
                </f:then>
                <f:else>
                    <f:format.date format="H:i" date="{event.start}" />
                    –
                    <f:format.date format="H:i" date="{event.end}" />
                </f:else>
            </f:if>
        </time>
    </header>

    <f:if condition="{compact} == 0">
        <f:if condition="{event.location}">
            <p class="mai-calendar__event-location">
                {event.location}
            </p>
        </f:if>

        <f:if condition="{event.description}">
            <div class="mai-calendar__event-description">
                <f:format.html>{event.description}</f:format.html>
            </div>
        </f:if>
    </f:if>

</article>

</html>
